a.learn-more {
    display:inline-block;
    color: #6c757d !important;
    font-size: 1rem;
    font-weight:400;
    white-space: nowrap;
    word-wrap:break-word;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #6c757d;
    border-radius: 50rem;
    padding: .375rem 3rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
}

a.learn-more:after {
    content: '';
    display: inline-block;
    position: relative;
    top: 5%;
    left: 1em;
    border: .4em solid transparent;
    border-left: .7em solid black;
    z-index:2;
    pointer-events:none;
}

a.learn-more:hover
{
    background-color:#6c757d;
    color:#fff !important;
    border-color:#6c757d;
    text-decoration: none;
}

a.learn-more:visited:hover {
    color: #222 !important;
}

a.learn-more:not(:disabled):not(.disabled) {
    cursor:pointer;
}
 
/*Card Background*/
.bg-darkblue {
    background:#2D3E50;
}
.bg-lightblue {
    background:#4FB3D9;
}
.bg-lightgray {
    background:#ECEBEB;
}
.bg-mint {
    background:#1FC2A7;
}
.bg-white {
    background-color:#fff!important;
}
.bg-white h3 {
    border-color:#ECEBEB!important;
}

body {
    text-align: left;
}

/*Card content*/
.card {
    position:relative;
    display:flex;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0000.125);
    border-radius:.25rem;
}

.card-body {
    flex:1 1 100%;
    min-height:1px;
    padding:1.25rem;
}

.card-title {
    margin-bottom:.75rem;
    
}

@media screen and (max-width: 330px) {
    .card-body {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

@media screen and (max-width: 400px){
    .card-title {
        word-wrap: normal;
    }

    .card-title, .card-text {
        width: 90%;
    }
}

/*Card container*/
.container-md {
    width:85%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}

/*Outer container content*/
.hero {
    margin-top:1rem;
    margin-bottom:1rem;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left:.5rem;
    padding-right:.5rem;
    border-radius:.3rem;
}

@media screen and (max-width: 800px){
    a.learn-more {
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 7.5rem;
        max-width: 12.5rem;
        width: fit-content;
    }

    .hero {
        flex-direction: column;
    }
    
    .hero .hero-content {
        position: relative;
        align-self: center;
        flex:0 0 100%;
        width: 100%;
        max-width:100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom:1rem;
        margin-top:1rem;
    }

    .hero .hero-image {
        position:relative;
        align-self: center;
        align-items: center;
        flex:0 0 100%;
        width:100%;
        max-width:100%;
        padding-right:15px;
        padding-left:15px;
        margin-bottom:1rem;
        margin-top: 1rem;
    }

    .news {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .news-container .learn-more {
        margin-top: 1rem;
    }

    .news .article {
        margin-bottom: 1rem;
    }
    
}

@media screen and (min-width: 801px){
    .hero{
        flex-direction: row;
    }
    
    .hero.bg-lightblue, .hero.bg-lightgray {
        flex-direction: row-reverse;
    }

    .hero .hero-content {
        position: relative;
        align-self: center;
        flex:0 0 58.333332%;
        width: 100%;
        max-width:58.333332%;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom:1rem;
        margin-top:1rem;
    }

    .hero .hero-image {
        position:relative;
        align-self: center;
        flex:0 0 41.666668%;
        width:100%;
        max-width:41.666668%;
        padding-right:15px;
        padding-left:15px;
        margin-bottom:1rem;
        margin-top: 1rem;
    }

    .news {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.landimages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    max-height: 26rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.upcase {
    text-transform:uppercase;
}

.news-container {
	width: 85%;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	background: #F9CD69;
	border-radius: .25rem;
}

.news-header {
	margin-left: 15px;
}

.news .article {
	padding-left: 15px;
	padding-right: 15px;	
}

.news-container .learn-more {
    display:block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 7.5rem;
    max-width: 12.5rem;
    width: fit-content;
}

.article .btn-read-more {
	color: #fff;
	background-color: #6c757d;
	padding: 5px;
	border-radius: .25rem;
}

.article .btn-read-more:hover {
	color: #fff;
	background-color: #5a6268;
}

.article .text {
	margin-bottom: 10px;
}